body {
  font-family: 'Raleway', sans-serif;
}
.title_color_main {
  color: #e8065e;
}
.title_color_secondary {
  color: #c602b2;
}
h1 {
  font-weight: bolder;
  letter-spacing: 0;
  text-transform: uppercase;
}
.btn_common {
  background: linear-gradient(
    90deg,
    rgba(233, 6, 92, 1) 0%,
    rgba(204, 2, 163, 1) 35%
  );
  border-color: #e8065e;
  font-size: 14px;
  padding: 12px 25px;
  color: #fff;
  font-weight: bolder;
  transition: background-color 1s ease-out;
}
.btn_common:hover {
  border-color: #e8065e;
  background: none;
  color: #000;
}
.navbar-brand img {
  width: 250px;
}
.bg_top {
  background-color: #FFFBF0
}
.bg_menu_nav {
  margin-left: 80px;
  position: relative;
  top: -12px;
}
.bg_menu_nav img {
  width: 170px;
}

.nav-item:hover a {
  color: #000 !important;
}
.nav-item a {
  font-weight: bold;
  color: #e8065e !important;
}

#banner {
  padding: 30px 0px 80px 0;
}
.banner_text h1 {
  font-size: 40px;
}
.banner_text p {
  color: #3e3e3e;
  font-weight: 500;
}
.banner_image img {
  width: 450px;
}

/* Product */

#product {
  margin: 60px 0;
}

.women_product_showcase,
.man_product_showcase {
  margin: 100px 0;
}
.product_heading {
  margin-bottom: 50px;
}

.pro_card {
  border-radius: 20px;
  padding: 20px;
}
.pro_card_body h3 {
  color: #e8065e;
  font-size: 25px;
}
.card_image {
  background-color: #F1F1F1;
  border-radius: 20px;
  height: 350px;
}
.card_image img {
  width: 280px;
  padding: 20px;
}
.pro_card_footer {
  border: none;
  background-color: #fff;
}
.pro_card_footer p {
  color: #e8065e;
  font-size: 30px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15px;
}

/* About */
#about {
  margin: 80px 0;
}
.about_box_main {
  padding: 20px 30px 20px 20px;
  margin: 15px 0;
  border-radius: 20px;
}
.box_image img {
  width: 65px;
}
.box_content {
  padding-top: 10px;
}
.box_content h4 {
  color: #e8065e;
  font-weight: bolder;
 
}
.about_right_image img{
    width: 550px;
}

/* Contact*/
#contact {
  margin: 80px 0;
}

/* Footer */
footer {
  height: 60px;
  text-align: center;
  box-shadow: 0px 0px 4px gray;
}
footer p {
  padding-top: 20px;
  font-weight: bolder;
}
footer p a {
  text-decoration: none;
  color: #e8065e;
}

/* Devices under 575px (small devices) */
@media (max-width: 575px) {
  .navbar-brand img {
    width: 210px;
  }
  .bg_menu_nav {
    display: none;
  }
  #banner {
    height: auto;
  }

  .banner_text h1 {
    font-size: 40px;
  }
  .banner_text h1 {
    font-size: 30px;
  }
  .product_heading {
    text-align: center;
  }
  .about_reverse {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .about_box_main{
      margin-top: 50px;
  }
  footer p{
      font-size: 12px;
  }
}
